<div class="container">
  <div class="text-center mb-5">
    <img src="https://support.rebrandly.com/hc/article_attachments/360020801793/rebrandly_url_shortener_010.png" alt=""
      width="600px">
  </div>

  <div class="mt-10 d-flex">
    <div class="col-sm">
      <div class='col-12 text-center mb-5'>
        <h4>Success! Here is the Link:</h4>
        <a href="https://desolate-earth-07702.herokuapp.com/shorten/{{randomURL}}"
          id="url">https://desolate-earth-07702.herokuapp.com/shorten/{{randomURL}}</a>

      </div>
      <div class='col-sm text-center'>
        <button class="btn btn-warning" onclick="copyFunction()">Copy URL</button>
      </div>
    </div>
  </div>
</div>


<script>
  function copyFunction() {
    let copyURL = document.getElementById('url')
    console.log("copyURL", copyURL)
    window.getSelection().selectAllChildren(copyURL)
    document.execCommand('copy')
    alert("Copied the URL: " + copyURL.innerText)
  }
</script>