<div class="container">
  <div class="text-center mb-5">
    <img src="https://free-url-shortener.rb.gy/open-graph.png" alt="" width="600px">
  </div>

  <div class="mt-10 d-flex">
    <form action="/" method="POST" class="col-sm">
      <div class='col-12 text-center mb-5'>
        <input type="text" id="link" name="link" class="form-control" height="30px">
      </div>
      <div class='col-sm text-center'>
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>